@use "../../styles.scss" as *; // Import variables from styles.scss

.menu-bar {
  height: 10vh; /* Menu Bar should occupy 10% of viewport height */
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Distribute items evenly */
  align-items: center; /* Center items vertically */
  background-color: $tertiary-color; 
  color: $text-color; 
}

.logo {
  width: 1vh; /* Maintain aspect ratio */
  height: 1vh; /* Adjust size as needed */
}

h5 {
  font-size: .7rem;
  margin: 0; 
  color: $text-color; 
}

.small-logo {
  width: auto; /* Maintain aspect ratio */
  height: 5vh; 
  margin: 1vh;
  border-radius: 5px;
}

/* Adjust for larger screens (desktop) */
@media (min-width: 769px) {
  .small-logo {
    margin-left: 5vh;
    width: auto; /* Maintain aspect ratio */
    height: 10vh;
  }

  h5 {
  font-size: 1.5rem;
  color: $text-color;
  padding: 1vh;;
}
}
