<div class="menu-bar">
  <mat-nav-list class="flex-row">
    <button id="nest-button" mat-raised-button routerLink="/nest">Nest</button>
    <button id="aviary-button" mat-raised-button routerLink="/aviary">Aviary</button>
    <button id="logout-button" mat-raised-button routerLink="/logout">Logout</button>
  </mat-nav-list>
  <span class="flex-row">
    <h5>Bird in the Hand</h5>
    <img
      class="small-logo"
      src="assets/icons/bird-in-hand-logo.jpg"
      alt="Bird in Hand Logo"
    />
  </span>
</div>
