@use "../../styles.scss" as *; // Import variables from styles.scss

.table-container {
  height: 90vh; /* Set the maximum height for the table */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.aviary-title {
  color: $text-color;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.mat-mdc-table {
  height: 90vh;
  background-color: $primary-color; /* Use the website's background theme color */
  color: $text-color; /* Use the website's text theme color */
  border: 1px solid $tertiary-color; /* Use the website's border theme color */

  tbody {
    display: flex;
    flex-grow: 1; /* Allow rows to expand to fill available space */
  }

  .table-image {
    min-height: 45%;
    min-width: 45%;
    max-height: 85%;
    max-width: 85%;
    object-fit: cover; /* Ensure the image fits nicely within the row */
    border-radius: 5px; /* Optional: Add rounded corners */
    border-color: black; /* Optional: Add a border to the image */
    border-width: 1px; /* Optional: Set the border width */
    cursor: pointer; /* This will show the clickable hand cursor */
  }

  .table-rows {
    align-items: center; /* Center content vertically */
  }

  th {
    display: table-cell; /* Ensure header cells remain in their default layout */
    position: sticky; /* Make header cells sticky */
    top: 0; /* Stick to the top of the table */
    height: 10vh;
    font-weight: bold; /* Make header text bold */
    text-transform: uppercase; /* Transform header text to uppercase */
    background-color: $primary-color; /* Warm cinnamon brown */
    z-index: 1; /* Ensure the header stays on top */
    border-bottom: 2px solid $tertiary-color; /* Use the website's border theme color */
  }
}

.aviary-table {
  width: 100%;
  border-collapse: collapse;
}

.table-text {
  width: 100%; /* Ensure the text container takes full width */
  padding: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
}

td.mat-cell {
  vertical-align: top; /* Align content to the top of the cell */
}

tr {
  border: 1px solid $tertiary-color; /* Use the website's border theme color */
}

th.mat-header-cell {
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

tr.mat-row {
  border-bottom: 1px solid #ddd; /* Add a subtle border between rows */
}

.photo-column {
  width: 95%;
  color: $text-color;
}
.info-column {
  width: 5%;
  color: $text-color;
}

h4 {
  font-size: 0.8rem; /* Adjust font size for larger screens */
}

.vote-icon {
  width: 5vh;
  height: 5vh;
  cursor: pointer; /* This will show the clickable hand cursor */
}

/* Adjust for larger screens (desktop) */
@media (min-width: 769px) {
  .mat-mdc-table {
    height: 90vh;
    background-color: $primary-color; /* Use the website's background theme color */
    color: $text-color; /* Use the website's text theme color */
    border: 1px solid $tertiary-color; /* Use the website's border theme color */

    tbody {
      display: flex;
      flex-grow: 1; /* Allow rows to expand to fill available space */
    }

    .table-image {
      min-height: 25%;
      min-width: 25%;
      max-height: 35%;
      max-width: 35%;
      object-fit: cover; /* Ensure the image fits nicely within the row */
      border-radius: 5px; /* Optional: Add rounded corners */
      border-color: $tertiary-color; /* Optional: Add a border to the image */
      border-width: 0.5vh; /* Optional: Set the border width */
      border-style: solid;
      cursor: pointer; /* This will show the clickable hand cursor */
    }

    .table-rows {
      // flex-grow: 1; /* Make each row take up equal space */
      align-items: center; /* Center content vertically */
    }

    th {
      display: table-cell; /* Ensure header cells remain in their default layout */
      position: sticky; /* Make header cells sticky */
      top: 0; /* Stick to the top of the table */
      height: 10vh;
      font-weight: bold; /* Make header text bold */
      text-transform: uppercase; /* Transform header text to uppercase */
      background-color: $primary-color; /* Warm cinnamon brown */
      z-index: 1; /* Ensure the header stays on top */
      border-bottom: 2px solid $tertiary-color; /* Use the website's border theme color */
    }
  }

  .aviary-title {
    color: $text-color;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  .photo-column {
    width: 60%;
  }
  .info-column {
    width: 40%;
  }

  .vote-text {
    align-self: center;
    margin-bottom: 0;
  }

  .vote-icon {
    width: 5vh;
    height: 5vh;
    cursor: pointer; /* This will show the clickable hand cursor */
  }

  h4 {
    font-size: 1.2rem; /* Adjust font size for larger screens */
  }
}
