<div class="menu-bar" backgroundColor="white">
  <mat-nav-list class="menu-list">
    <button mat-raised-button><a mat-list-item routerLink="/nest">Nest</a></button>
    <button mat-raised-button><a mat-list-item routerLink="/aviary">Aviary</a></button>
    <button mat-raised-button><a mat-list-item routerLink="/logout">Logout</a></button>
  </mat-nav-list>
  <div></div>
  <span class="menu-list">
    <h1>Bird in the Hand</h1>
    <img
      class="small-logo"
      src="assets/icons/bird-in-hand-logo.jpg"
      alt="Bird in Hand Logo"
    />
  </span>
</div>
