<div class="card">
  <header class="site-header">
    <h1 class="site-title">Bird in the Hand</h1>
  </header>
  <div class="logo-container">
    <div>
      <img
        class="bh-logo"
        src="assets/icons/bird-in-hand-logo.jpg"
        alt="Bird in Hand Logo"
      />
    </div>
    <div class="login-form">
      <span>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Username</mat-label>
          <input matInput [formControl]="username" type="text" placeholder="Enter your username" />
          <mat-error *ngIf="username.touched && username.dirty && username.invalid">{{ getErrorMessageFor('username') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>Password</mat-label>
          <input matInput [formControl]="password" type="password" placeholder="Enter your password" />
          <mat-error *ngIf="password.touched && password.dirty && password.invalid">{{ getErrorMessageFor('password') }}</mat-error>
        </mat-form-field>
      </span>
      <span>
        <button mat-raised-button (click)="onSubmit()" routerLink="/aviary">
          Login
        </button>
        <button mat-raised-button routerLink="/register">
          Register
        </button>
      </span>
    </div>
  </div>
</div>
